<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Authoring Questions") %>

<p>Quadbase allows you to create three different types of questions. This page will give you an overview and explain how to author each of the three types of questions. For general mark-up questions please see the <a href=""getting started</a> page.</p>


<p><%= link_to "Simple Questions", "#simple" %><br/>
<%= link_to "Matching Questions", "#matching" %><br/>
<%= link_to "Multipart Questions", "#multipart" %><br/></p>

<div id="simple">
<%= render :partial => 'help/topics/simple_questions' %>
</div>
<div id="matching">
<%= render :partial => 'help/topics/matching_questions' %>
</div>
<div id="multipart">
<%= render :partial => 'help/topics/multipart_questions' %>
</div>
