<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>


<div style="width: 500px; margin-left:auto; margin-right:auto">
<%= pageHeading("Contact Us") %>


<p><b>Looking for help learning how to use Quadbase?</b></p>  

<p>Check out our built-in help pages.  Or, join our user community Google Group for discussing quadbase issues, <%= link_to "quadbase-users", "http://groups.google.com/group/quadbase-users" %>.</p>

<p><b>Interested in joining the development team for Quadbase?</b></p>

<p>You're welcome to become part of the process.  Quadbase is an open-source list hosted on Github.  See <%= link_to "github.com/lml/quadbase", "http://github.com/lml/quadbase"%>.  Check out the wiki for information on how to contribute.</p>

<p>It is also a very good idea to join the discussion happening in our development Google Group, <%= link_to "quadbase-dev", "http://groups.google.com/group/quadbase-dev" %>.</p>  

<p><b>Did you encounter an error on Quadbase?</b></p>

<p>If you encountered an error message or some other problem while using quadbase, we'd like to hear about it.  Email the specifics of your issue to <%= mail_to "support@quadbase.org"%>.  Include information about your computing setup (e.g. PC/Mac/Linux, operating system version, web browser type and version). Keep in mind our time for handling emails to this address is limited, so if your message is not related to a problem on Quadbase it may be ignored.</p>
</div>
