<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Images")%>

<div class= "sectionHeading" id="adding_images">Adding Images to Questions</div>
<p>To add an image to a question, follow these procedures:</p>
<br/>
<ol>
<li>Once you have selected the type of question you want to write and decided that you want to add an image to your question, click on the image icon above the "Question text" dialogue box. <br/>
	<center>
		<%=image_tag("image_icon.png", {:border => 1})%>
	</center>
</li>
<li>Clicking on the image icon causes a little box to pop up, you can browse for your image by pushing the "Select a file..." button on the left side of the box, once you have selected the image you want, push the "Upload" button on the right side of the box.
	<br/>
	<br/>
	<center>
		<%=image_tag("image_box.png", {:border => 1, :width => "55%"})%>
	</center>
</li>
<li> Once you have uploaded the image you intend to add, a preview of the image will appear in the box for you to preview and verify that you are adding the correct image. To add the image to your question, double click the preview of your image. The box will disappear and an image tag will appear in the question text dialogue box.
	<br/>
	<br/>
	<center>
		<%=image_tag("image_preview.png",{:border => 1,:width =>"55%"})%>
		<br/>
		<br/>
		<%=image_tag("image_tag.png", {:border => 1, :width => "45%"})%>
	</center>
</li>
<li> Now you can write the rest of your question, once finished you can preview your question by clicking the "Quick Preview" button. If you don't like the position of your image in the question, you can close the preview and move the image tag. Words that come before the image tag will render before the image, and words that come after the tag will render after the image.</li>
<li> Once you are ready to save your question, click the "Save Draft" button.</li>
<li><b> Congratulations, you have written a question with an image!!</b></li>
</ol> 