<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Need Help?") %>

<p>Choose from the following help topics:</p>

<ol>
  <li><%= link_to "About Quadbase", about_path %></li>
  <li><%= link_to "Frequently Asked Questions (FAQ)", faq_path %></li>
  <li><%= link_to "Legal FAQ", legal_path %></li>
  <li><%= link_to "Logging In", "#logging_in" %></li>
  <li><%= link_to "Exercise Formatting", "#exercise_formatting" %></li>
  <li><%= link_to "Roles and Request", "#roles" %></li>
  <li><%= link_to "Authoring", "help/authoring"%></li>
</ol>

<div class="sectionHeading" id="logging_in">Logging In</div>

<p>Registering for an account and logging in to Quadbase is easy. Follow the steps below to register and log in to the site.</p>

<ol>
<li>Click the "Sign Up" link in the upper right corner of the home page.<br/><br/>
<center>
<a href="http://quadbase.org/users/sign_up"><%= image_tag("signup.png", {:border => 1})%></a>
</center>
<br/>
</li>
<li>
Fill out the registration form, agree to the site license, and click "Sign up".<br/><br/>
<center>
<a href="http://quadbase.org/users/sign_up"><%= image_tag("signupform.png", {:border => 1})%></a></center>
<br/>
</li>
<li>A confirmation email will be sent to the email you provided in the last step. Click the link in the email to confirm your account.<br/><br/></li>
<li>After you click the link contained in your email, your account will become active, and you will be able to begin editing problems.</li> 
</ol>
<p>If you don't receive your confirmation email, check your spam folder. If you can't find the email, you can request that the confirmation instructions be resent. Go to <a href="https://quadbase.org/users/confirmation/new">https://quadbase.org/users/confirmation/new</a> to resend the email.</p>



<div class="sectionHeading" id="exercise_formatting">Question Formatting</div>
<br/>
<br/>
<div class="sectionHeadingNoUnder">Text Mark-Up</div>
<p>Text in Quadbase can be formatted using a simplified version of a wiki markup language. You can use this simple markup to add, bold, italics, and numbered and bulleted list. </p>

<center>
<table border="1">
<tr bgcolor="#C0C0C0">
<th width="20%">Effect</th>
<th width="20%">Markup</th>
<th width="20%">Example</th>
</tr>
<tr>
<td>Bold</td>
<td><div class="inline-code">!!example text!!</td>
<td><b>example text</b></td>
</tr>
<tr>
<td>Italics</td>
<td><div class="inline-code">"example text"</td>
<td><i>example text</i></td>
</tr>
<tr>
<td>Numbered List</td>
<td><div class="inline-code"># example text<br/>
# example text<br/>
# example text</td>
<td><ol>
<li>example text</li>
<li>example text</li>
<li>example text</li>
</ol>
</td>
</tr>
<tr>
<td>Bulleted List</td>
<td><div class="inline-code">* example text<br/>
* example text<br/>
* example text</td>
<td><ul>
<li>example text</li>
<li>example text</li>
<li>example text</li>
</ul>
</td>
</tr>
</table>
</center>

<div class="sectionHeadingNoUnder">Math Mark-Up</div>

<p>To add math to your exercise you can use standard LaTeX math mark-up. As in LaTeX, math between a pair of single dollar signs, "\$. . .\$" creates inline math, but math between double dollar signs, "\$\$. . .\$\$"results in presentation math.</p>

<% expressions = ['\frac{2}{3}',"x^2","x_{2}",'\sqrt{2}', '\sum_{i=1}^{n}', 
                  '\int_{0}^{1}','\log(x+y)','\lim_{n \rightarrow \infty}' ] %>

<center>
<table border="0" width="850px">
  <tr>
    <th colspan="2"><font size="+2">Inline Math</font></th>
    <td rowspan="<%= expressions.size + 1 %>" style="padding: 0 10px"></td>
    <td rowspan="<%= expressions.size + 1 %>" style="border-right: 1px solid black"></td>
    <td rowspan="<%= expressions.size + 1 %>" style="padding: 0 10px"></td>
    <th colspan="2"><font size="+2">Presentation Math</font></th>
  </tr>
  <%expressions.each do |expression|%>
  <tr>
    <td><div class="help-code">\$<%= expression %>\$</div></td>
	  <td align="center">$<%= expression %>$</td>
	  <td><div class="help-code">\$\$<%= expression %>\$\$</div></td>
    <td>$$<%= expression %>$$</td>
  </tr>
  <%end%>
</table>
</center>

<p>For more help with LaTeX connsult the <a href="http://en.wikibooks.org/wiki/LaTeX/Mathematics">tutorial</a>.</p>

<div class="sectionHeading" id="loggin_in">Projects</div>

<p>Quadbase supports collaborative efforts by allowing you to create projects where many users can work together. A project is like a shared folder where you can store exercises and allow your collaborators to view and edit them.</p>

<p>Creating a new project is simple.</p>
<ol>
<li>Login to Quadbase and click the projects tab.</li>
<li>Click "New Project", and then provide a name for your project.</li>
<li>Click "Create Project" button</li>
</ol>

<p>You can now add any person with a Quadbase account to your workgroup.</p>

<ol>
<li>Click on the "Projects" tab.</li>
<li>Click on the name of the project you would like to add a user to.</li>
<li>Add a member by searching for the user in the search field at the bottom of the page.</li>
<li>Click "Add"</li>
</ol>

<div class="sectionHeading" id="roles">Roles and Role Requests</div>

<p>There are three different types of roles:
<ul>
<li><b>Author:</b> The writer(s) who wrote the exercise.</li>
<li><b>Copyright Holder:</b> The person or institution that owns the content.</li>
<li><b>Maintainer:</b> The user(s) who have the ability to publish content.</li>
</ul>
</p>
<p>In order to publish an exercise each of these roles must be filled with at least one person in each role. By default, the person who creates an exercise will be automatically listed as the author, copyright holder, and maintainer. If you would like to modify these roles, follow the steps below:
<ol>
<li>Select the question on which you want to modify the roles.</li>
<li>Click edit question.</li>
<li>Click edit roles. Here you can "toggle" on and off the different roles for different users.</li>
<li>After you assign a person to a new role, they will be sent an email informing them of the role request. They will then need to log in and accept the request in the inbox tab on Quadbase.</li>
</ol>

To add other collaborators to your exercise:
<ol>
<li>Select the question you would like to add a new collaborator to.</li>
<li<Click edit question.</li>
<li>Click edit roles</li>
<li>On the bottom of the page you should see "Add a collaborator". In this box type the username of the person you are searching for, and click the add button.</li>
</ol>

