<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% # Clients of this partial must supply the following variables:
   # main_question
   # question
   # answer_text
   # answer_confidence
   # Additionally, they can override the following variables:
   answer_choice ||= nil
   list ||= nil
   part ||= nil
   seed ||= nil
%>

<%= section "Answer Verification" do %>
  <% if answer_choice.nil? %>
    <p>Choose the multiple-choice answer below that corresponds to the answer you wrote above.</p>
    <%= form_tag question_answer_choices_path(main_question), :remote => true, :method => :get, :autocomplete => "off" do %>
      <% unless list.nil? %>
        <%= hidden_field_tag :list_id, list.id %>
      <% end %>
      <% unless part.nil? %>
        <%= hidden_field_tag :part, part %>
      <% end %>
      <% unless seed.nil? %>
        <%= hidden_field_tag :seed, seed %>
      <% end %>
      <%= hidden_field_tag :answer_text, answer_text %>
      <%= hidden_field_tag :answer_confidence, answer_confidence %>
      
      <ol type='none'>
      <% question.answer_choices.each_with_index do |answer_choice, ii| %>
         <div class="quad-answer_choice">
           <%= radio_button_tag :answer_choice, ii %>
           <%= label_tag "answer_choice_#{ii}", "<span class='quad-counter'>#{choice_letter(ii)})</span><li>#{answer_choice.variated_content_html}</li>".html_safe %>
         </div>
         <br clear="all"/>
         <br clear="all"/>
      <% end %>
      </ol>
      
      <center>
        <div class="actions">
          <%= submit_tag "Submit",
                :id => "submit_button",
                :confirm => "Are you sure you want to submit your answer?  If so " +
                            "click OK, otherwise click cancel.\n\nAfter your " + 
                            "answer is submitted it CANNOT BE CHANGED."%>
        </div>
      </center>
    <% end %>
  <% else %>
    <%= render :partial => 'locked_answer_choice', :locals => {:question => question,
                                                               :answer_choice => answer_choice} %>
  <% end %>
<% end %>
