<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% # Clients of this partial must supply the following variables:
   # question
   # projects
%>

<%= form_tag question_new_derivation_path(question), :method => :put, :remote => true do %>  
  <%= hidden_field_tag :question_id, question.id %>
  <%= radio_button_tag "edit", "now", true %>
  <%= label_tag "edit_now", "Edit Now" %>
  <%= radio_button_tag "edit", "later", false %>
  <%= label_tag "edit_later", "Edit Later" %>
  <br/><br/>
    
  <%= label_tag "In:" %>
    <br/>
    <table>
    <% projects.each do |w| %>
      <tr>
        <td>
          <%= submit_tag w.name, :name => "project[" + w.id.to_s + "]",
                                 :class => "#{submit_classes}",
                                 :style => "width: 100%; text-align: left;" %>
        </td>
      </tr>
    <% end %>
    </table>
<% end %> 
