<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%
  @type ||= 'All Questions'
  @location ||= 'All Places'
  @part ||= 'Content'
  @query ||= ''
  @per_page ||= 20
  question_form_action ||= nil
  make_search_remote ||= nil
  form_button_text ||= ""
  exclude_type ||= ''
  type_options = ['All Questions', 
                  'Simple Questions', 
                  'Matching Questions', 
                  'Multipart Questions']
  type_options.delete(exclude_type)
  locations = ['All Places', 'Published Questions']
  locations.push('My Drafts', 'My Projects') if user_signed_in?
  parts = ['ID/Number', 'Content', 'Author/Copyright Holder', 'Tags']
%>
<%= form_tag(questions_search_path, 
             :method => :get,
             :id => 'find_question_form',
             :remote => make_search_remote) do %>

  <%= hidden_field_tag :per_page, @per_page %>
  <%= hidden_field_tag :exclude_type, exclude_type %>
  
  <table width="100%">
    <tr>
      <td><%= label_tag 'Search for' %>&nbsp;</td>
      <td><%= text_field_tag 'query', @query, :style => "width: 90%;" %>&nbsp;</td>

      <td>&nbsp;<%= label_tag 'in' %>&nbsp;</td>
      <td><%= select_tag 'part', options_for_select(parts, @part), :style => "width: 90%;" %></td>

      <td rowspan="3" style="vertical-align:middle;"><%= submit_tag 'Search', :class => "#{submit_classes}" %></td>

    </tr>
    <tr>
      <td colspan="4"><hr style="float:left; width: 97%; color: lightgray; background-color: lightgray;" /></td>
    </tr>
    <tr>

      <td><%= label_tag 'Restrict to' %>&nbsp;</td>
      <td><%= select_tag 'type', options_for_select(type_options, @type), :style => "width: 90%;" %></td>

      <td>&nbsp;<%= label_tag 'in' %>&nbsp;</td>
      <td><%= select_tag 'location', options_for_select(locations, @location), :style => "width: 90%;" %></td>

    </tr>
  </table>
<% end %>

<% if question_form_action %>
<%= form_tag question_form_action, :remote => true do %>
<div id="question_list">
  <%= render :partial => 'questions/list', 
             :locals => { :entries => @questions,
                          :checkbox_options => {} } %>
</div>
<%= submit_tag form_button_text, :class => "#{submit_classes}" %>
<% end %>
<% else %>
<div id="question_list">
  <%= render :partial => 'questions/list', 
             :locals => { :entries => @questions } %>
</div>
<%= will_paginate @questions if !@questions.nil? %>
<% end %>
