<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% pageHeading("Editing #{question_id_text(@question)}") %>

<% @show_edit_roles_link = true %>
<% @show_question_link = true %>
<% @show_edit_license_link = true %>
<% @show_list_link = true %>
<% @this_is_edit_view = true %>

<% add_human_field_names(:"question_setup.logic.base" => "Introduction Logic:") %>

<%= pageHeading("Question Editing") %>

<%# The following "autocomplete=off" hack lets radio buttons work as they
    should in Firefox 3 
<%# We also have to make sure to use the Questions controller no matter what
    the question_type is, hence the :url directive %>
     
<%= form_for @question, 
             :as => :question, 
             :url => @question.id.nil? ? questions_path() : question_path(@question), 
             :html => {:autocomplete => "off"} do |f| %>

  <%= render :partial => "#{view_dir(@question)}/form", 
             :locals => {:question => @question, :f => f} %>
  
  <br/>
  <br/>
  <% if !@question.latest_published_same_number.nil? %>
    <%= f.radio_button :changes_solution, false %>
    <%= f.label :changes_solution_false,
          "Solutions for the latest published version still apply. Reuse solutions." %>
    <br/>
    <%= f.radio_button :changes_solution, true %>
    <%= f.label :changes_solution_true,
          "Solutions changed since the latest published version. Do not reuse solutions." %>
  <% end %>
  <br/>
  <div class="actions">
    <center>
      <%= link_to "Quick Preview", nil, :id => "preview_link", :remote => true %>

      &nbsp;&nbsp;&nbsp;&nbsp;

      <%= f.submit "Save Draft", 
                   :class => "#{submit_classes}",
                   :id => "save_button",
                   :disable_with => "Saving..." %>

      &nbsp;&nbsp;&nbsp;&nbsp;

      <%= link_to "Discard changes", question_path(@question) %>
      
      <p>      
        <span style="font-size:12px">
          <%= link_to_help "where_is_publish", "Where's the publish button?"%>
        </span>
      </p>
    </center>
  </div>
<% end %>

<%= yield :after_form if content_for?(:after_form) %>

<div id="preview_dialog" style="display:none" title="Quick Preview"></div>

<% content_for :javascript do %>
   <%= javascript_tag do %>
      $("#preview_link").live('click',function(event) {
        event.preventDefault();
        
        if (typeof Quadbase.CodeMirrorUtils != 'undefined') {
           Quadbase.CodeMirrorUtils.saveCodeMirrors();
        }
        
        return put_as_post('<%= question_preview_path(@question) %>', 
                             $('form').serializeArray());
      });
   
      $("#preview_dialog").dialog({ 
        autoOpen: false, 
        modal: true, 
        height:600, 
        width:600, 
        buttons: { "Close": function() { $(this).dialog("close"); }}
      });

      $('#save_button').live('click', function() {
        var count = 0;
        $('input[id*="question_answer_choices_attributes"]').each(function() {
          if($(this).attr('value')==1&&$(this).attr('checked')=='checked'){
            count += 1;
          }
        });
        if(count>1){
          var confirmed = confirm('You have designated multiple answers as correct, Continue?');
          if(!confirmed){
            event.preventDefault();
          }
        }
      });
   <% end %>
<% end %>

<%= protect_form %>
