<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<div style="width:80%; margin-right:auto; margin-left:auto; ">

<%= pageHeading("Get Started With Questions") %>

<style type="text/css" media="screen">
  .explanation {
    padding:20px 25px 0px; 
    font-size: 12px;
    vertical-align: top;
  }
  
  .placeholder {
    float:right; 
    width:300px; 
    margin-left:30px; 
    border:1px solid gray;  
    margin-right:auto; 
    margin-top:0; 
    margin-bottom:50px; 
    height:200px; 
    vertical-align:middle; 
    text-align:center;
  }
  
  .sectionPrePadding {
    margin-top: 35px;
  }
</style>

<div id="preloaded-images">
  <img src="../images/red_button_200_60.png" width="1" height="1" alt="" />
  <img src="../images/red_button_hover_200_60.png" width="1" height="1" alt="" />
</div>

<div style="width:200px; margin-right:auto; margin-left:40px; margin-top: 10px; margin-bottom: 15px; float:right">
  <%= link_to "I'm ready to<br/>write a question!".html_safe, 
              new_question_path, 
              :class => "bigRedButton", 
              :style => "font-size:18px; line-height:1.2; padding-top:9px" %>
</div>

<p>Quadbase is a bank of homework and test questions written by you!  The
questions you write are freely available to everyone as long as those using
your questions give you a bit of credit for your hard work.</p>
  
<p>We've written a brief introduction to writing questions below.  Take a 
look at it along with descriptions of the available question types.  When 
you're ready to get writing, click the big red button to the right to dive in.</p>

<div class="sectionHeading sectionPrePadding">Question Writing Overview</div>

<p>[high-level intro that mentions/defines questions, answers, solutions, projects, comments]</p>

<div class="sectionHeading sectionPrePadding">Available Question Types</div>

<p>Quadbase currently supports three major question types: simple questions, 
matching questions, and multipart (multistep) questions.</p>

<div class="sectionHeadingNoUnder">Simple Questions</div>

<div style="clear:both">
  <span style="float:left; padding-right: 15px; padding-bottom: 15px">
    <%= image_tag("question_choice_v1.png", 
                  { :border => 1, 
                    :alt => "Free-form or multiple-choice question", 
                    :title => "Free-form or multiple-choice question", 
                    :height => "100px", :width => "100px" }) %>
  </span>

  <div class="placeholder">
    <div style="text-align:center; margin-top:50px; color:gray">Placeholder for simple <br/>
      question example.</div>
  </div>

  <p>Write some help text here describing these kinds of questions.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>


<div class="sectionHeadingNoUnder" style="clear:both">Matching Questions</div>
                                
<div>
  <span style="float:left; padding-right: 15px; padding-bottom: 15px">
    <%= image_tag("question_matching_v1.png", 
                  { :border => 1, 
                    :alt => "Matching question", 
                    :title => "Matching question", 
                    :height => "100px", :width => "100px" }) %>
  </span>

  <div class="placeholder">
    <div style="text-align:center; margin-top:50px; color:gray">Placeholder for matching <br/>
      question example.</div>
  </div>

  <p>Write some help text here describing these kinds of questions.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>                

<div class="sectionHeadingNoUnder" style="clear:both">Multipart Questions</div>

<div>
  <span style="float:left; padding-right: 15px; padding-bottom: 15px">
    <%= image_tag("question_multistep_v2.png", 
                  { :border => 1, 
                    :alt => "Multi-step question", 
                    :title => "Multi-step question", 
                    :height => "100px", :width => "100px" }) %>
  </span>

  <div class="placeholder">
    <div style="text-align:center; margin-top:50px; color:gray">Placeholder for multipar <br/>
      question example.</div>
  </div>

  <p>Write some help text here describing these kinds of questions.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>

</div>