<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Use Quadbase questions") %>

<p>All content in the Quadbase repository is licensed under the 
	<a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 
	license (CC-BY)</a>. This means questions can be used, shared, and reused legally in any 
	way, as long as the original authors are given credit. For general legal questions about 
	use of Quadbase content, please <a href="http://quadbase.org/help/legal">go here</a>. 
</p>

<p>Quadbase supports several options for embedding questions in your learning resources. 
	These features make it easy to give students practice problems, while also automatically 
	crediting the original authors. Choose from the following options:</p> 

<%= link_to "Embed questions in an online learning platform", "#LMS" %><br/>
<%= link_to "Embed questions on any web page", "#embed" %><br/>
<%= link_to "Embed the Practice Widget on any web page", "#widget" %><br/>

<div id="simple">


<div id="LMS">
<%= render :partial => 'help/topics/embed_in_LMS' %>
</div>
<div id="embed">
<%= render :partial => 'help/topics/embed_help' %>
</div>
<div id="widget">
<%= render :partial => 'help/topics/practice_widget_help' %>
</div>
<div id="LMS">

