<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% # This partial must be put inside a form
   #
   # Clients of this partial must supply the following variables:
   # lists
   # menu_action_name
   # base_action_path
   #
   # Additionally, they can override the following variable:
   preposition ||= false
%>
<nav class="no_js">
  <ul style="margin:0px;">
    <li>
      <a id="<%= menu_action_name.tableize %>" class="<%= "#{submit_classes}" %>" href="#" cursor="default">
        <%= menu_action_name.humanize %><%= preposition ? " " + preposition :
            "" %>&nbsp;<%= down_icon %>
      </a>
      <ul style="border: 1px solid black; width:280px">
        <% lists.each do |w| %>
        <li>
          <%= submit_tag w.name, :name => menu_action_name.tableize.singularize +
                                          '[' + w.id.to_s + ']',
                                 :class => "button_link",
                                 :onclick => "$(this).closest('form')" +
                                             ".attr('action', '" +
                                             base_action_path.chomp('/') + "/" +
                                             menu_action_name.tableize.singularize +
                                             "');" +
                                             "$(this).closest('form')" +
                                             ".find('input[name=_method]')" +
                                             ".attr('value', 'put');" %>
        </li>
        <% end %>
      </ul>
    </li>
  </ul>
</nav>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $("#<%= menu_action_name.tableize %>").bind('click', function(event) {
      event.preventDefault();
      var parentNav = $(event.target).parents("nav");
      $("nav").find("ul").find("ul").hide();
      parentNav.find("ul").find("ul").show();
    });
    $($("nav.no_js").attr("class", ""));
  <% end %>
<% end %>
