<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @errors = @license.errors %>

<%= form_for(@license) do |f| %>
<table class="left_heading">
   <tr>
      <th><%= f.label :short_name %></th>
      <td><%= f.text_field :short_name %></td>
   </tr>
   
   <tr>
      <th><%= f.label :long_name %></th>
      <td><%= f.text_field :long_name %></td>
   </tr>
   
   <tr>
      <th><%= f.label :url %></th>
      <td><%= f.text_field :url %></td>
   </tr>
   
   <tr>
      <th>Agreement partial name</th>
      <td><%= f.text_field :agreement_partial_name %></td>
   </tr>
   
   <tr>
      <th>&nbsp;</th>
      <td><%= f.submit(nil , :class => "#{submit_classes}") %></td>
   </tr>
</table>
<% end %>
