<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<%= pageHeading("Viewing message") %>

<table width="100%">
  <tr>
    <td>To:</td>
    <td id="recipient_list">
      <% @message.recipients.each do |recipient| %>
        <%= render :partial => 'recipient', :locals => {:recipient => recipient} %>
      <% end %>
    </td>
    <td align="right">
      <%= link_to "Add recipients ...", 
                  message_new_recipient_path(@message), 
                  :remote => true %>
    </td>
  </tr>
</table>

<% if @message.comment_thread.comments.blank? %>
<%= render 'form' %>
<% else %>
<%= render :partial => 'show', :locals => {:message => @message} %>
<% end %>

<br/>

<% if !@message.comment_thread.comments.blank? %>
<%= render :partial => 'comments/index', :locals => {:commentable => @message,
                                                     :hide_header => true,
                                                     :hide_link => true,
                                                     :hide_votes => true,
                                                     :comment_name => 'Reply'} %>
<% end %>

<br/><br/>

<%= link_to 'Back to Inbox', inbox_path %>
