<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Administration Panel") %>

<ul>
   <li><%= link_to "Announcements", announcements_path %></li>
   <li><%= link_to "Website Configurations", website_configurations_path %></li>
   <li><%= link_to "User Accounts", users_path %></li>
   <li><%= link_to "Licenses", licenses_path %></li>
   <li><%= link_to "Logic Libraries", admin_logic_libraries_path %></li>
   <li><%= link_to "Logging", admin_log_level_path %>
</ul>
