<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<%= pageHeading("Administration Panel") %>

<ul>
   <li><%= link_to "Announcements", announcements_path %></li>
   <li><%= link_to "Website Configurations", website_configurations_path %></li>
   <li><%= link_to "User Accounts", users_path %></li>
   <li><%= link_to "Licenses", licenses_path %></li>
</ul>
