<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<style type="text/css">

.texty {
width: 100px; height: 20px;
}

</style>
<%= question_edit_block "Answer Choice Text" do %>
  <div class="fields">
    <%= f.text_area :content, :rows => 3, :class => "mark_it_up", :style => 'width:100%' %>
    
    <span style="float:right">  
      <%= link_to_remove_fields "Delete this answer", f %>
    </span>
    
    <% # Couldn't get the buttons to be checked on load without manually %>
    <% # checking the status %>
    <div class = "hidethis">
    	<%= f.radio_button :credit, 1, {:checked => f.object.credit == 1, :onclick => "disablePartial(this)"} %>
    	Right
    	<%= f.radio_button :credit, 0, {:checked => f.object.credit == 0, :onclick => "disablePartial(this)"} %>
	Wrong
	<%= f.radio_button :credit, 0.5, {:checked => f.object.credit != 1 && f.object.credit != 0, :onclick => "enablePartial(this)"}%>
	Partial Credit:
     <% if f.object.credit != 1 && f.object.credit != 0 %>
	 <%= text_field_tag 'partcred', nil, :value => f.object.credit, :class =>'texty', :onblur => "changePartial(this)" %>
     <% else %>
	 <%= text_field_tag 'partcred', nil, :value => '', :style => 'display:none', :class =>'texty', :onblur => "changePartial(this)" %>
     <% end %>
    

	
    </div>
      
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
     refresh_mark_it_up_textareas();
   });
   function changePartial(temp){
	$(temp).prev().attr('value', temp.value);
	};
   function enablePartial(temp){
	$(temp).nextAll('.texty').show();
	};
   function disablePartial(temp){
	$(temp).nextAll('.texty').hide();
	};
</script>
