<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= question_edit_block "Answer Choice Text" do %>
  <div class="fields">
    <%= f.text_area :content, :rows => 3, :class => "mark_it_up", :style => 'width:100%' %>
    <span style="float:right">  
      <%= link_to_remove_fields "Delete this answer", f %>
    </span>
    <% # Couldn't get the buttons to be checked on load without manually %>
    <% # checking the status %>
    <% credit = f.object.credit || 0 %>
    <% @id = (@id ||= 0) + 1 %>
    <div class = "marked">
      <%= f.radio_button :credit, '1', {:checked => credit == 1,
        :onclick => "$('#text_field_tid#{@id}').hide();"} %>
      Right
      <%= f.radio_button :credit, '0', {:checked => credit == 0, 
        :onclick => "$('#text_field_tid#{@id}').hide();"} %>
      Wrong
      <%= f.radio_button :credit, credit, 
        {:id => "radio_button_rid#{@id}", :checked => 
        (credit != 1 && credit != 0), 
        :onclick => "$('#text_field_tid#{@id}').show();"}%>
      Partial Credit:
      <%= text_field_tag '', '', :id => 'text_field_tid' + "#{@id}", 
        :value => credit, :class => 'part_cred_field', 
        :style => "#{credit != 1 && 
        credit != 0 ? '' :   'display:none'}", 
        :onkeyup => "$('#radio_button_rid#{@id}').attr('value', this.value);"%>
      <%# hidden field that updates the time for the update_attributes in
        question_helper so that the save forces a save even if no
        other attributes seem to be updated #%>
      <%= f.hidden_field :updated_at, :value => Time.now %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
     refresh_mark_it_up_textareas();
   });
  
</script>
