<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= question_edit_block "Answer Choice Text" do %>
  <div class="fields">
    <%= f.text_area :content, :rows => 3, :class => "mark_it_up", :style => 'width:100%' %>
    
    <span style="float:right">  
      <%= link_to_remove_fields "Delete this answer", f %>
    </span>
    
    <% # Couldn't get the buttons to be checked on load without manually %>
    <% # checking the status %>
 
    <%= f.radio_button :credit, 1, {:checked => f.object.credit == 1} %>
    Right
    <%= f.radio_button :credit, 0, {:checked => f.object.credit != 1} %>
    Wrong

  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
     refresh_mark_it_up_textareas();
   });
</script>
