<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<div class="quad-question_content">
  <%= question.variated_content_html.html_safe %>
</div>

<% if !question.answer_choices.empty? %>
   <div class="quad-answer_choices">
      <% answer_letter_code = "a".ord-1 %>
      <table width="100%">
      <% question.answer_choices.each do |ac| %>
        <tr>
	<td class="part_cred_mark" style="<%= 'display:none' if !@show_credit %>">
		<% if ac.credit != 0 %>
		<div style="position:relative; height: 25">
	    	<%= check_credit_icon(ac.credit) %>
		</div>
		<% end %>
	</td>
        <td class="quad-answer_choice_index" width="5%">
               <p><%= (answer_letter_code += 1).chr %>)</p>
        </td>
        <td class="quad-answer_choice" width="95%">
               <%= ac.variated_content_html.html_safe %>
        </td>
        </tr>
      <% end %>	
      </table>  
   </div>
<% end %>
