<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<table class="list" width="100%">
  <tr>
    <th width="20%">First Name&nbsp;</th>
    <th width="20%">Last Name&nbsp;</th>
    <th width="20%">Username&nbsp;</th>
    <th width="25%">Email&nbsp;</th>
    <th width="15%"></th>
  </tr>

<% if @users.nil? || @users.empty? %>
<tr>
    <td colspan="5">No results</td>
</tr>
<% else %>
<% @users.each do |user| %>
  <tr>
    <td><%= auth_only(user.first_name) %>&nbsp;</td>
    <td><%= auth_only(user.last_name) %>&nbsp;</td>
    <td><%= auth_only(user.username) %>&nbsp;</td>
    <td><%= auth_only(hide_email(user.email)) %>&nbsp;</td>
    <td style="text-align: center;">
      <span id="user_action_form_<%= user.id %>">
        <%= render :partial => @action_partial, 
                   :locals => { :user => user } %>
      </span>
    </td>
  </tr>
<% end %>
<% end %>
</table>
