<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", :target => @user %> 

  <table class="left_heading left_heading_offset">
     <tr>
        <th>Name</th>
        <td><%= auth_only(@user.full_name) %></td>
     </tr>
     <tr>
        <th>Email</th>
        <td><%= auth_only(@user.email) %></td>
     </tr>
     <tr>
        <th>Administrator?</th>
        <td><%= f.check_box :is_administrator %></td>
     </tr>
     <tr>
        <th>Disable Account?</th>
        <td><%= check_box_tag "user[disable]", "1", @user.is_disabled? %></td>
     </tr>
  </table>
  
  <p>
     
  <div class="actions">
    <%= f.submit(nil , :class => "#{submit_classes}") %>
  </div>
<% end %>
