<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<table class="list" width="100%">
  <tr>
    <th width="20%">First Name&nbsp;</th>
    <th width="20%">Last Name&nbsp;</th>
    <th width="20%">Username&nbsp;</th>
    <th width="25%">Email&nbsp;</th>
    <th width="15%"></th>
  </tr>

<% if @users.nil? || @users.empty? %>
<tr>
    <td colspan="5">No results</td>
</tr>
<% else %>
<% @users.each do |user| %>
  <tr>
    <td><%= auth_only(user.first_name) %>&nbsp;</td>
    <td><%= auth_only(user.last_name) %>&nbsp;</td>
    <td><%= auth_only(user.username) %>&nbsp;</td>
    <td><%= auth_only(hide_email(user.email)) %>&nbsp;</td>
    <td style="text-align: center;">
    <% if user.can_join?(@container_type, @container_id) %>
      <%= form_tag(@add_path, :method => "post", :remote => true) do %>
        <%= hidden_field_tag 'username', auth_only(user.username) %>
        <%= submit_tag @add_label, :class => "#{submit_classes}", 
            :onclick => please_wait_js %>
      <% end %>
    <% else %>
      <%= label_tag @cannot_add_label %>
    <% end %>
  </td>
  </tr>
<% end %>
<% end %>
</table>
