<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("User List") %>

<table class="list" width="100%">
  <tr>
    <th width="20%">First Name</th>
    <th width="20%">Last Name</th>
    <th width="20%">Username</th>
    <th width="25%">Email</th>
    <th width="5%">Admin?</th>
    <th width="5%" colspan>Confirmed?</th>
    <th width="5%">Disabled?</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= admin_only(user.first_name) %></td>
    <td><%= admin_only(user.last_name) %></td>
    <td><%= admin_only(user.username) %></td>
    <td><%= admin_only(user.email) %></td>
    <td><%= tf_to_yn(user.is_administrator?) %></td>
    <td><%= tf_to_yn(user.is_confirmed?) %></td>
    <td><%= tf_to_yn(user.is_disabled?) %></td>
    <td><%= link_to show_icon, user %></td>
    <td><%= link_to edit_icon, edit_user_path(user) %></td>
  </tr>
<% end %>
</table>

<% if !@users.nil? %>
  <%= will_paginate @users %>
<% end %>

<br />


