<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% if user_is_admin? %>
<div id="upperCornerLinks"><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'List', users_path %></div>
<% end %>

<%= pageHeading("User Detail") %>

<table class="left_heading" style="margin-left:40px; margin-right:150px;">
   <tr>
      <th width="40%">Name</th>
      <td width="60%" colspan="2"><%= auth_only(@user.full_name) %></td>
   </tr>
   <tr>
      <th>Email</th>
      <td colspan="2"><%= auth_only(hide_email(@user.email)) %></td>
   </tr>
   <% if user_is_admin? %>
   <tr>
      <th>Administrator?</th>
      <td colspan="2"><%= tf_to_yn(@user.is_administrator) %></td>
   </tr>
   <tr>
      <th>Privileged?</th>
      <td colspan="2"><%= tf_to_yn(@user.is_privileged) %></td>
   </tr>
   <tr>
      <th>Account Disabled?</th>
      <td colspan="2"><%= tf_to_yn(@user.is_disabled?) %></td>
   </tr>
   <tr>
      <th>Confirmed?</th>
      <td><%= tf_to_yn(@user.is_confirmed?) %></td>
      <td><% if !@user.is_confirmed? %>
      <%= button_to 'Confirm', user_confirm_path(@user), :class => "button_link" %>
      <% end %></td>
   </tr>
   <% end %>
</table>
<p>
<% if user_is_admin? %>
  <%= button_to 'Sign-in as this user',
      user_become_path(@user),
        :method => :post,
        :class => submit_classes,
        :onclick => please_wait_js %>
<% end %>




