<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% collapsible ||= false %>
<% collapsed ||= false %>
<% anchor_name ||= nil %>

<div class="section">
  <div class="section_heading">
    <% if !anchor_name.blank? %>
      <%= link_to "", {}, :name => anchor_name %>
    <% end %>
    <%= title.html_safe %>
    <% if collapsible %>
      <span style="font-size:11px; display:inline">&nbsp;&nbsp;[
        <%= link_to "Collapse", '#', :id=>'collapse', :style=>(collapsed ? "display:none" : "display:inline") %>
        <%= link_to "Expand", '#', :id=>'expand', :style=>(collapsed ? "display:inline" : "display:none") %>
      </span>
    <% end %>
  </div>
  
  <div class="section_body" style="<%= collapsed ? 'display:none' : '' %>">
    <%= body %>  
  </div>
</div>

<% content_for :javascript do %>
  <% javascript_tag do %>
    $(document).on('click', '#collapse', function(){
      $(this).parent().parent().parent().children('.section_body').hide();
      $(this).hide();
      $(this).next().show();
    });

    $(document).on('click', '#expand', function(){
        $(this).parent().parent().parent().children('.section_body').show();
        $(this).hide();
        $(this).prev().show();
    });
  <% end %>
<% end %>