<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% show_remove_form ||= false %>



<div id="tag_links" style="<%= 'display:none' if show_remove_form %>">
  <% if !taggable.tags.empty? %>
    <% taggable.tags.each do |tag| %>
      <%= link_to tag.name, tagged_questions_path(tag.name.gsub(" ","_")), :class => "tag" %>
    <% end %>
  <% end %>
</div>

<% if present_user.can_tag?(taggable) %>

  <div id="tag_actions" style="margin-top:10px; font-size: 11px; <%= 'display:none' if show_remove_form %>">
    <%= link_to "Add Tag", nil, :remote=>true, :style => "white-space: nowrap;", :onclick => "$('#tag_entry_field').val(''); $('#add_tag_form').show(); $('#tag_entry_field').focus(); $('#tag_actions').hide(); " %>
    <%= link_to "Remove Tags...", nil, :remote=>true, :style => "white-space: nowrap;", :onclick => "$('#remove_tags_form').show(); $('#tag_actions').hide(); $('#tag_links').hide();" %>
  </div>

  <div id="add_tag_form" style="display:none">
  <%= form_tag(add_tags_path, :remote => true, :autocomplete => "off") do %>
    <%= autocomplete_field_tag "tags", '', autocomplete_tag_name_questions_path, :"data-delimiter" => ', ', :id => "tag_entry_field" %>
    <%= submit_tag "Add", :class => submit_classes %>
  <% end %>
  </div>
  
  <div id="remove_tags_form" style="<%= 'display:none' if !show_remove_form %>">
    <% if !taggable.tags.empty? %>
      <% taggable.tags.each do |tag| %>
        <%= link_to question_tag_path(taggable, tag.name.gsub(" ","_")), 
                    :method => :delete, 
                    :remote => true, 
                    :class => "tag" do %><%= tag.name %><span class="ui-icon ui-icon-close" style="display:inline-block; height:12px; width:12px"></span><% end %>
      <% end %>
    <% end %>
    <div style="margin-top:10px; font-size: 11px;">
    <%= link_to "I'm finished removing tags.", nil, :remote=>true, :style => "white-space: nowrap;", :onclick => "$('#tag_links').show(); $('#tag_actions').show(); $('#remove_tags_form').hide();" %>
      
    </div>
  </div>
  
  <div id="edit_tag_form" style="display:none">
    <%#= form_tag(edit_tags_path, :remote => true, :autocomplete => "off") do %>
      <%#= autocomplete_field_tag "tags", '', autocomplete_tag_name_questions_path, :"data-delimiter" => ', ', :id => "tag_edit_field" %>
      <%#= submit_tag "Save", :class => submit_classes %>
    <%# end %>
  </div>

<% end %>