<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% # Clients of this partial must provide the following variables:
   # votable
%>
<% can_vote = present_user.can_vote_on?(votable) %>
<% vote = get_vote_for(votable, present_user) if can_vote %>

<div id="votes_for_<%= votable.class.to_s %>_<%= votable.id %>">

<%= form_tag polymorphic_path([:up, votable, :votes]),
             :remote => true do %>
  <table>
    <tr>
      <td>
        <% if !can_vote || (!vote.blank? && vote.thumbs_up) %>
        <%= image_tag("thumbs_up_hover.png") %>
        <% else %>
        <%= image_submit_tag "thumbs_up.png",
              :onmouseover => "this.src='/images/thumbs_up_hover.png'",
              :onmouseout => "this.src='/images/thumbs_up.png'" %><br />
        <% end %>
      </td>
      <td>
        <%= label_tag votable.votes.where{thumbs_up == true}.count %>
      </td>
    </tr>
  </table>
<% end %>

<%= form_tag polymorphic_path([:down, votable, :votes]),
             :remote => true do %>
  <table>
    <tr>
      <td>
        <% if !can_vote || (!vote.blank? && !vote.thumbs_up) %>
        <%= image_tag "thumbs_down_hover.png" %>
        <% else %>
        <%= image_submit_tag "thumbs_down.png",
              :onmouseover => "this.src='/images/thumbs_down_hover.png'",
              :onmouseout => "this.src='/images/thumbs_down.png'" %><br />
        <% end %>
      </td>
      <td>
        <%= label_tag votable.votes.where{thumbs_up == false}.count %>
      </td>
    </tr>
  </table>
<% end %>
</div>
