<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<% @links = [ link_to('New Project', new_project_path) ] %>

<%= pageHeading("My Projects") %>

<table class="list" width="100%">
   <tr>
      <th width="50%">Name</th>
      <th width="20%"></th>
      <th width="15%" style="text-align:center"># Questions</th>
      <th width="15%" style="text-align:center"># Members</th>
      <th></th>
      <th></th>
      <th></th>
   </tr>

   <% @project_members.each do |member| %>
      <% project = member.project %>
     <tr>
       <td><%= link_to project.name, project_path(project) %></td>
       <td>
         <% if member.is_default %>  
            (DEFAULT)
         <% else %>
            <%= link_to "Set as default", 
                        project_member_make_default_path(member),
                        :method => :put %>
         <% end %>
       </td>
       <td style="text-align:center"><%= project.project_questions.size %></td>
       <td style="text-align:center"><%= project.project_members.size %></td>       
       <td><%= link_to show_icon, project %></td>
       <td><%= link_to edit_icon, edit_project_path(project) %></td>
       <td><%= link_to trash_icon, project, 
                       :confirm => "Are you sure you want to delete #{project.name}?", 
                       :method => :delete %></td>
     </tr>
   <% end %>
   
   <%# TODO give people a link to leave a project, differentiate clearly from deleting the project %>
   
</table>

<br />


