<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @links = [ link_to('Edit Project', edit_project_path(@project)), 
              link_to('My Projects', projects_path) ] %>

<%= pageHeading("#{@project.name} Details") %>

<span style="float:right">
  <%= pluralize(@project.project_members.count, "Member")%> 
  (<%= link_to "Change", edit_project_path(@project) %>)
</span>

<div class="sectionHeadingNoUnder">Questions</div>
  <%= form_tag project_questions_path, :method => :put,
      :id => "project_questions_form", :remote => true do %>
    <%= hidden_field_tag 'project_id', @project.id %>
    <%= render :partial => 'questions/list', 
               :locals => {:entries => @project.project_questions,
                           :method_for_question => "question",
                           :checkbox_options => {:method_for_value => "id",
                                                 :name_base => "project_question_ids"}
                          } %>

<%# Display the appropriate buttons for the listed questions and available projects %>

<br/>
  <% if !@project.project_questions.empty? %>
    <table>
      <tr>
        <td>
          <%= submit_tag "Publish...", :class => "ui-state-default ui-corner-all", :id => "publish_button", :name => "publish" %>
        </td>
    <% if !@target_projects.blank? %>
        <td>
          <%= render :partial => "projects_menu",
                     :locals => {:projects => @target_projects,
                                 :menu_action_name => "move",
                                 :preposition => "to:",
                                 :base_action_path => "/project_questions/"} %>
        </td>
    <% end %>
        <td>
          <%= render :partial => "projects_menu",
                     :locals => {:projects => @all_projects,
                                 :menu_action_name => "copy",
                                 :preposition => "to:",
                                 :base_action_path => "/project_questions/"} %>
        </td>
        <td>
          <%= submit_tag "Show Attribution", :class => "ui-state-default ui-corner-all",
                                        :id => "attribution_button", :name => "attribution" %>
        </td>
        <td>
          <%= submit_tag "Remove", :class => "ui-state-default ui-corner-all",
                                   :id => "remove_button", :name => "remove",
                                   :onclick => "return confirm('Are you sure you want to remove" +
                                               " the selected questions from this project?');" %>
        </td>
      </tr>
    </table>
    
  <% end %>
<% end %>

<br/>


<%= render :partial => "shared/comments",
           :locals => {:commentable => @project} %>

<div id="attribution_dialog" style="display:none" title="Attribution"></div>

<% content_for :javascript do %>
   <%= javascript_tag do %>
      $("#publish_button").bind('click', function() {
        $("#project_questions_form")
        .attr("action", "<%= preview_publish_project_questions_path %>");
        $("#project_questions_form").find("input[name=_method]").attr("value", "put");
        return true;
      });
      $("#attribution_button").bind('click', function() {
        $("#project_questions_form")
        .attr("action", "<%= attribution_project_questions_path %>");
        $("#project_questions_form").find("input[name=_method]").attr("value", "put");
        return true;
      });
      $("#remove_button").bind('click', function() {
        $("#project_questions_form")
        .attr("action", "<%= project_questions_path %>");
        $("#project_questions_form").find("input[name=_method]").attr("value", "delete");
        return true;
      });
      $("#attribution_dialog").dialog({ 
        autoOpen: false, 
        modal: true, 
        height:600, 
        width:600, 
        buttons: { "Close": function() { $(this).dialog("close"); }}
      });
   <% end %>
<% end %>
