<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>


  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "matching" %>
  <% end %>



    <div id="svgbasics">
    </div>
    <% content_for :after_form do %>

  <%= render :partial => 'shared/mark_it_up' %>

  <% @errors = @question.errors %>

  <% add_human_field_names({ :"answer_choices.content" => "Answer text", 
                             :"answer_choices.credit" => "Answer right/wrong", 
                             :"answer_choices" => "Answers",
                             :"question_setup.content" => "Content"} ) %>

  <%# For the question setup ... %>
  <%= render :partial => "attachable_assets/add_image_dialog",
             :locals => {:attachable => @question.question_setup,
                         :dialog_div_id => "image_dialog_intro",
                         :include_open_insert_close_js => false} %>

  <%# For the question ... %>
  <%= render :partial => "attachable_assets/add_image_dialog",
             :locals => {:attachable => @question,
                         :include_open_insert_close_js => false} %>

  <%# Add the JS glue only once, not twice %>
  <%= render :partial => 'attachable_assets/image_dialog_open_insert_close' %>

<% end %>
   
 <%= f.hidden_field :type, :value => "SimpleQuestion"%>

 <p>You are editing a 
    <%= link_to_help "simple_questions", "simple question",
                     {:height => 400, 
                      :width => 700} %>. 
    Need help <%= link_to_help "formatting", "formatting", 
                                {:include_mathjax => true, 
                                 :height => 400, 
                                 :width =>900} %> your question?</p>

  <% setup_blank = @question.question_setup.is_empty? %>

  <% intro_options = {:style => "#{setup_blank ? 'display:none' : ''}", :id => 'intro_text_block'} %>

  <%= question_edit_block "The Introduction", intro_options do %>

    <% if @question.is_draft_in_multipart? %>
      <%= @question.question_setup.content_html.html_safe %>
    <% else %>

      <%= f.fields_for :question_setup do |setup_form| %>
      
        <div class="question_edit_subblock" style="margin-top:0px">
          <% class_to_reveal_on_logic_show = "reveal_on_logic_show_#{@logic_counter ||= (@logic_counter || -1) + 1}"%>
          <%= render :partial => 'logics/form', 
                     :locals => {:f => setup_form, 
                                 :logicable => @question.question_setup,
                                 :class_to_reveal_on_logic_show => class_to_reveal_on_logic_show} %>
        </div>
      
      
        <div class="question_edit_subblock">
          <div class="question_edit_block_subtitle <%= class_to_reveal_on_logic_show %>" 
               style="<%= @question.question_setup.logic.empty? ? 'display:none;' : '' %>">Introductory Text</div>
      
          <div class="field">
             <%= setup_form.text_area :content, 
                              :rows => 8, 
                              :class => "mark_it_up", 
                              :style => 'width:100%',
                              'data-attachable_type'=>'intro' %>
          </div>
        </div>
      <% end %>

    <% end %>
    
  <% end %> 

  <div style="<%= setup_blank ? '' : 'display:none' %>">
    <%= link_to_function "Add a common introduction to this question.", 
                         '$("#intro_text_block").show(); Quadbase.CodeMirrorUtils.refreshCodeMirrors(); $(this).parent().hide();'%> 
    (optional)
    <span style="float:right"><%= link_to_help "question_setup", "What is this?" %></span>
  </div>

  <%= question_edit_block "The Question" do %>


    <div class="question_edit_subblock" style="margin-top:0px">
      <% class_to_reveal_on_logic_show = "reveal_on_logic_show_#{@logic_counter ||= (@logic_counter || -1) + 1}"%>
      <%= render :partial => 'logics/form', 
                 :locals => {:f => f, 
                             :logicable => @question,
                             :class_to_reveal_on_logic_show => class_to_reveal_on_logic_show} %>
    </div>
    
    <div class="question_edit_subblock">
      <div class="question_edit_block_subtitle <%= class_to_reveal_on_logic_show %>" 
           style="<%= @question.logic.empty? ? 'display:none;' : '' %>">Question Text</div>
    
      <div class="field">
        <%= f.text_area :content, :rows => 8, :class => "mark_it_up", :style => 'width:100%' %>
      </div>
    </div>
    
  <% end %>

    
    <p>
        Drag and Drop the boxes on the left to their matching component on the right.
    </p>
<% actcounter = 0 %>
<% counter = 0 %>
<% rightCounter = 0 %>
<table style='position:absolute; margin-left:300px'>
<tbody>
<%= f.fields_for :matchings do |g| %>
   <% actcounter = actcounter + 2 %>    
   <% if g.object.column == "right" %>
	<td style="vertical-align: top;">
        <div style='border: 2px solid gray; padding: 10px; width: 340px; margin-bottom: 10px; margin-left:145px;' 
                                class='ui-corner-all droppable ui-droppable' id='<%=g.object.choice_id%>'> 
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'> 
                                    <tbody> 
                                        <tr> 
                                            <td style='width: 50px; text-align: center;' rowspan='2'> 
                                                <img alt='' src='icons/user-48x48.png' /> </td> 
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'> 
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'>
                                                </span>
                                            </td> 
                                        </tr> 
                                        <tr> 
                                            <td style='font-size: 0.9em; text-align: left;'>
	<%= g.text_area :content, :style=>'height:60; width:300; resize:none' %>
        </td>
                                        </tr> 
                                    </tbody> 
                                </table>
                                <%= g.hidden_field :choice_id, :class => "valSelector" %>
                                <%= g.hidden_field :matched_id, :class => "matchedSelector" %>
                                <%= g.hidden_field :column %>
                            </div>
        </td>
        </tr>
        <% counter = counter + 1 %>
        <% end %>
	
<% end %>
</tbody>
</table>
 <table cellspacing="5" cellpadding="40" style="width: 100%; text-align: center;">
  <tbody>
<% rightCounter = counter %>
<%= f.fields_for :matchings do |g| %>    
	<% if g.object.column == "left" %>
        <tr>
	<td>
	<div style='border: 2px solid gray; padding: 10px; width: 340px; margin-bottom: 10px;'
                                class='ui-corner-all draggable ui-draggable' id='<%=g.object.choice_id%>'>
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'>
                                    <tbody> 
                                        <tr> 
                                            <td style='width: 50px; text-align: center;' rowspan='2'>
                                                <img alt='' src='icons/user-48x48.png' /> </td>
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'>
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'>
                                                </span>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td style='font-size: 0.9em; text-align: left;'>
	<%= g.text_area :content, :style=>'height:60; width:300; resize:none' %>
                         </td>
                                        </tr> 
                                    </tbody> 
                                </table> 
                                <%= g.hidden_field :choice_id, :class => "valSelector" %>
                                <%= g.hidden_field :matched_id, :class => "matchedSelector" %>
                                <%= g.hidden_field :column %>
                            </div>
        </td>
        </tr>
        <% if g.object.choice_id != g.object.matched_id %>
        <script type="text/javascript">
        svgDrawLine($("#<%=g.object.matched_id%>"), $("#<%=g.object.choice_id%>"));
        </script>
        <% end %>
        <% counter = counter + 1 %>
        <% end %>
       
        
<% end%>
<% while counter < 2 * (rightCounter - 1)%>
<tr>
<td>
  <div style='border: 2px solid gray; padding: 10px; width: 320px; margin-bottom: 10px; visibility:hidden'
                                class='ui-corner-all draggable ui-draggable' id='wrapper2'>
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'>
                                    <tbody> 
                                        <tr> 
                                            <td style='width: 50px; text-align: center;' rowspan='2'>
                                                <img alt='' src='icons/user-48x48.png' /> </td>
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'>
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'>
                                                </span>
                                            </td> 
                                        </tr>
                                        <tr>
					  <textarea></textarea>
                                        </tr> 
                                    </tbody> 
                                </table> 
                            </div>
        </td>
        </tr>
<% counter = counter + 1 %>
      
<% end %>
</tbody>
 </table>
       <div>
            <table cellspacing="5" cellpadding="40" style="width: 100%; text-align: center;">
                <tbody>
                    <tr>
                        <td id = "leftCol" style="width: 50%; vertical-align: top;">
 
                        </td>
                        <td id = "rightCol" style="vertical-align: top;">
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    <div id="dialog" title="Reset persons mapping?" style="z-index: 10;">
        <p>
            <span class="ui-icon ui-icon-alert"></span>Do you wish to delete all connection
            resetting the mapping to it's original positions?</p>
    </div>
    <div id="dialogMappingResult" title="Current Mapping" style="z-index: 10;">
        <p>
            Here is a list of the current mapping:
        </p>
        <ul style="list-style: none;">
            <li>No mapping was done yet</li></ul>
    </div>
    <a id="popButton" href="#" style="z-index: 10;">reset mapping</a> <a id="getMappings"
        href="#" style="z-index: 10;">show mapping</a><a id="addLeft"
        href="#" style="z-index: 10;">add left</a><a id="addRight"
        href="#" style="z-index: 10;">add right</a>


<script type="text/javascript">
  counter = <%= actcounter %>;
  $('#addRight').bind('click', function() {
    counter = counter + 1;
    var s = "<div style='border: 2px solid gray; padding: 10px; width: 340px; margin-bottom: 10px; margin-left:100px;' \
                                class='ui-corner-all droppable ui-droppable' id='wrapper3'> \
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'> \
                                    <tbody> \
                                        <tr> \
                                            <td style='width: 50px; text-align: center;' rowspan='2'> \
                                                <img alt='' src='icons/user-48x48.png' /> </td> \
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'> \
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'> \
                                                </span> \
                                            </td> \
                                        </tr> \
                                        <tr> \
                                            <td style='font-size: 0.9em; text-align: left;'> \
                                                <textarea style='height:60; width:300; resize:none' id='question_matchings_attributes_" + counter +"_content' name='question[matchings_attributes][" + counter + "][content]' ></textarea> \
                                            </td> \
                                        </tr> \
                                    </tbody> \
                                </table> \
                                <input class='valSelector' value ="+counter+" id='question_matchings_attributes_" + counter + "_choice_id' name='question[matchings_attributes][" + counter + "][choice_id]' type='hidden' /> \
                            <input class = 'matchedSelector' value ="+counter+" id='question_matchings_attributes_" + counter + "_matched_id' name='question[matchings_attributes][" + counter + "][matched_id]' type='hidden' /> \
                           <input value ='right' id='question_matchings_attributes_" + counter + "_column' name='question[matchings_attributes][" + counter + "][column]' type='hidden' /> \
                            </div>";
    var t = document.createElement('div');
    t.innerHTML = s;
    document.getElementById('rightCol').appendChild(t);
    $("div .droppable").droppable();
    $("div .droppable").droppable({
        hoverClass: "ui-state-hover",
        helper: "clone",
        cursor: "move",
        drop: function (event, ui) {
            // change class and image
            $(this)
				.addClass("ui-state-highlight")
				.find("img")
				.removeAttr("src")
				.attr("src", ico_userChecked);

            // disable it so it can"t be used anymore		
            $(this).droppable("disable");

            // change class and image of the source elemenet		
            $(ui.draggable)
				.addClass("ui-state-highlight")
				.find("img")
				.removeAttr("src")
				.attr("src", ico_userChecked);

            // change the icon of the source element				
            $(ui.draggable)
				.find(".ui-icon-shuffle")
				.removeClass("ui-icon-shuffle")
				.addClass("ui-icon-locked");

            var sourceValue = $(ui.draggable).find("input:hidden").val();
            var targetValue = $(this).find("input:hidden").val();

            // remove mapping dialog box line if exists
            if ($("#dialogMappingResult").find("ul > li:first").html() == "No mapping was done yet")
                $("#dialogMappingResult").find("ul").empty();

            // append the mapping to the dialog	
            $("#dialogMappingResult")
				.find("ul")
				.append("<li>" + sourceValue + " >> " + targetValue + "</li>");
        
            // change the input element to contain the mapping target and source
            $(ui.draggable)
				.find(".valSelector")
				.val(sourceValue);
            $(ui.draggable)
				.find(".matchedSelector")
				.val(targetValue);

            // disable it so it can"t be used anymore	
            $(ui.draggable).draggable("disable");

            svgDrawLine($(this), $(ui.draggable));
        }
    });
  });
  $('#addLeft').bind('click', function() {
    counter = counter + 1;
    var s = "<div style='border: 2px solid gray; padding: 10px; width: 340px; margin-bottom: 10px;' \
                                class='ui-corner-all draggable ui-draggable' id='wrapper3'> \
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'> \
                                    <tbody> \
                                        <tr> \
                                            <td style='width: 50px; text-align: center;' rowspan='2'> \
                                                <img alt='' src='icons/user-48x48.png' /> </td> \
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'> \
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'> \
                                                </span> \
                                            </td> \
                                        </tr> \
                                        <tr> \
                                            <td style='font-size: 0.9em; text-align: left;'> \
                                                <textarea style='height:60; width:300; resize:none' id='question_matchings_attributes_" + counter + "_content' rows='20' name='question[matchings_attributes][" + counter + "][content]' cols='40'></textarea> \
                                            </td> \
                                        </tr> \
                                    </tbody> \
                                </table> \
                                <input class = 'valSelector' value =" + counter+ " id='question_matchings_attributes_" + counter + "_choice_id' name='question[matchings_attributes][" + counter + "][choice_id]' type='hidden' /> \
                              <input class = 'matchedSelector' value ="+counter+" id='question_matchings_attributes_" + counter + "_matched_id' name='question[matchings_attributes][" + counter + "][matched_id]' type='hidden' /> \
                             <input value ='left' id='question_matchings_attributes_" + counter + "_column' name='question[matchings_attributes][" + counter + "][column]' type='hidden' /> \
                            </div>";
    var t = document.createElement('div');
    t.innerHTML = s;
    document.getElementById('leftCol').appendChild(t);
    $("div .draggable").draggable();
        $("div .draggable").draggable({
        revert: true,
        snap: false
        /*,helper: "clone"*/
    });
    

  })
  
</script>
