<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# Clients of this partial must supply the following variable:
  # f
%>

<div style='border: 2px solid gray; padding: 10px; width: 225px; margin-bottom: 10px;' 
     class='ui-corner-all droppable ui-droppable fields' id='<%=f.object.id%>'>
  <%= f.hidden_field :match_id %>
  <%= f.hidden_field :right_column %>
  <span style='float:left; text-align: right; vertical-align: top; width: 16px;' rowspan='2'>
    <span class='ui-icon-arrow-4 ui-icon'></span>
    <span class='ui-icon-shuffle ui-icon'></span>
  </span>
  <span style="float:right">
    <%= link_to_match_item_remove_fields "T", f %>
  </span>
  <span style='font-size: 0.9em; text-align: left;'>
    <%= f.text_area :content, :style=>'height:60; width:200; resize:none' %>
  </span>
</div>
