<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @show_credit_toggle_link = false %>
<% @show_match_credit_toggle_link = true %>

<% if !question.question_setup_id.nil? %>
   <div class="quad-question_setup">
      <%= question.question_setup.variated_content_html.html_safe %>
   </div>
<% end %>
 <% content_for :javascript_includes do %>
    <%= javascript_include_tag "matching" %>
  <% end %>
    <div id="svgbasics">
    </div>

<p>
Content & Answers
</p>
<p>
&nbsp
</p>
<div class="quad-question_content">
  <%= question.variated_content_html.html_safe %>
</div>
<% actcounter = 0 %>
<% counter = 0 %>
<% rightCounter = 0 %>
<table style='position:absolute; margin-left:300px'>
<tbody>
<% question.match_items.each do |g| %>
   <% actcounter = actcounter + 2 %>    
   <% if g.column == "right" %>
	<td style="vertical-align: top;">
        <div style='border: 2px solid gray; padding: 10px; width: 225px; margin-bottom: 10px; margin-left:25px;' 
                                 id='<%=g.choice_id%>'> 
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'> 
                                    <tbody> 
                                        <tr> 
                                            <td style='width: 50px; text-align: center;' rowspan='2'> 
                                                <img alt='' src='icons/user-48x48.png' /> </td> 
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'> 
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'>
                                                </span>
                                            </td> 
                                        </tr> 
                                        <tr> 
                                            <td style='font-size: 0.9em; text-align: left;'>
	<%= g.content %>
        </td>
                                        </tr> 
                                    </tbody> 
                                </table>
                            </div>
        </td>
        </tr>
        <% counter = counter + 1 %>
        <% end %>
	
<% end %>
</tbody>
</table>
 <table cellspacing="5" cellpadding="40" style="width: 100%; text-align: center;">
  <tbody>
<% rightCounter = counter %>
<% question.match_items.each do |g| %>    
	<% if g.column == "left" %>
        <tr>
	<td>
	<div style='border: 2px solid gray; padding: 10px; width: 225px; margin-bottom: 10px;'
                                 id='<%=g.choice_id%>'>
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'>
                                    <tbody> 
                                        <tr> 
                                            <td style='width: 50px; text-align: center;' rowspan='2'>
                                                <img alt='' src='icons/user-48x48.png' /> </td>
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'>
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'>
                                                </span>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td style='font-size: 0.9em; text-align: left;'>
	                 <%= g.content %>
                         </td>
                                        </tr> 
                                    </tbody> 
                                </table> 
                            </div>
        </td>
        </tr>
        <% if g.choice_id != g.matched_id %>
        <script type="text/javascript">
        $(document).ready(function(){
        svgDrawLine($("#<%=g.matched_id%>"), $("#<%=g.choice_id%>"));
        $("#svgbasics").hide();
        });
        </script>
        <% end %>
        <% counter = counter + 1 %>
        <% end %>
       
        
<% end%>
<% while counter < 2 * (rightCounter - 1)%>
<tr>
<td>
  <div style='border: 2px solid gray; padding: 10px; width: 320px; margin-bottom: 10px; visibility:hidden'
                                class='ui-corner-all draggable ui-draggable' id='wrapper2'>
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'>
                                    <tbody> 
                                        <tr> 
                                            <td style='width: 50px; text-align: center;' rowspan='2'>
                                                <img alt='' src='icons/user-48x48.png' /> </td>
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'>
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'>
                                                </span>
                                            </td> 
                                        </tr>
                                        <tr>
					  <textarea></textarea>
                                        </tr> 
                                    </tbody> 
                                </table> 
                            </div>
        </td>
        </tr>
<% counter = counter + 1 %>
      
<% end %>
</tbody>
 </table>
