<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<html>
<head></head>
<body>
<p>Greetings Quadbase users,</p>

<p><%= @requestee.full_name %> has been <b><%= @role_request.drops_role? ? "dropped" : "added" %></b> as <%= @role_request.toggle_is_author ? "an author" : "a copyright holder"%> <%= @role_request.drops_role? ? "from" : "to" %> a <%= link_to "draft of question #{@question.number}", question_url(@question) %>.</p>

<p>Regards,</p>

<%= render 'shared/email_signature' %>
<%= render 'shared/email_footer' %>
       
</body>
</html>
