<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<html>
<head></head>
<body>
<p>Hi <%= @requestor.first_name %>,</p>

<p><%= @requestee.full_name %> has <b>rejected</b> your request to <%= @role_request.drops_role? ? "drop" : "add" %> him/her as <%= @role_request.toggle_is_author ? "an author" : "a copyright holder"%> on a <%= link_to "draft of question #{@question.number}", question_url(@question) %>.</p>

<p>Regards,</p>

<%= render 'shared/email_signature' %>
<%= render 'shared/email_footer' %>
       
</body>
</html>
