<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @this_is_edit_view ||= false %>

<tr id="part_<%= part.id %>" class="questionPartSummary roundedCorners5">
  <td width="5%" valign="top"><span class="ui-icon ui-icon-arrow-4 handle"></span></td>
  <td width="80%"><%= link_to "Part #{part.order}", part_edit_or_show_path(part, @this_is_edit_view) %>
  (<%= question_id_link(part.child_question) %>)
    <div class="linkedQuestions" id="dependencies_for_<%= part.child_question_id %>">
      <%= render :partial => 'multipart_questions/part_dependencies', 
                 :locals => { :part => part } %>

    </div>
  </td>

  <td width=15% align="left">
  <% if part.child_question.is_published? && present_user.can_update?(part) %>
    <%= button_to 'Unlock', 
            question_part_unlock_path(part),
            :method => :put,
            :class => "button_link small",
            :remote => true,
            :onclick => please_wait_js %>
  <% end %>
  </td>
  
  <td width="5%">
    <% if present_user.can_destroy?(part) %>
      <%= link_to x_icon, 
                  question_part_path(part),
                  :method => :delete, 
                  :confirm => "Are you sure you want to remove part #{part.order} " +
                              "from this question?\n\nNote that the question " + 
                              "itself will not be deleted.",
                  :remote => true %>
    <% end %>
  </td>
</tr>
   
