<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%# Clients of this partial must supply the following variables:
      question
%>

<style type="text/css">
  .practice-answer-choices {}
  .practice-answer-choice {}
  .practice-answer-choice-radio {
    vertical-align: middle;
  }
  .practice-answer-choice-index {
    vertical-align: middle;
  }
  .practice-answer-choice-content {}
</style>

<%= form_tag practice_submit_answer_path(question), :remote => true, :method => :get, :autocomplete => "off" do %>
  <%#= hidden_field_tag :list_id, @list.id unless @list.nil? %>
  <%#= hidden_field_tag :part, @part unless @part.nil? %>
  <%#= hidden_field_tag :seed, @seed unless @seed.nil? %>
  <%#= hidden_field_tag :embed, true if @layout == 'embed' %>
  
  <table width="100%" class='practice-answer-choices'>

    <% question.answer_choices.each_with_index do |answer_choice, ii| %>
       <tr class='practice-answer-choice'>
          <td class="practice-answer-choice-radio" width="5%">
            <%= radio_button_tag :selected_answer, ii %>
          </td>
          <td class="practice-answer-choice-index" width="5%">
             <p><%= choice_letter(ii) %>)</p>
          </td>
          <td class="practice-answer-choice-content" width="90%">
             <%= answer_choice.variated_content_html.html_safe %>
          </td>
       </tr>
    <% end %>

  </table>

  <center>
    <div class="actions">
      <%= submit_tag "Continue", :id => "submit_button" %>
    </div>
  </center>

<% end %>