<div id="solutions_div">
  <% unless solutions.empty? %>
    <%= section "Solutions" do %>
      <ol>
        <% solutions.each_with_index do |solution| %>
          <li> 
           <div class="solution_div">
            <div style="width: 250px; float:right; padding: 8px;">
               <span  style="height:auto; float:left; padding-right:10px">
                 <%= gravatar_image solution.creator, {:size => 35} %>
               </span>
               <span class="comment_creator" >
                   <%= full_name_link(solution.creator) %>
                 <br/>
                 <span class="comment_timestamp"><%= modified_string(solution) %></span>
               </span>
             </div>
             
             <% if !solution.explanation.blank? %>
               <div class="solutionPartHeading" style="margin-top:0px">High-Level Explanation</div>
               <div id="solution_explanation_<%= solution.id.to_s %>" style="margin-left:20px">
                 <%= simple_format solution.explanation %>
               </div>
             <% end %>
             
             <% if !solution.content_html.blank? %>   
               <div class="solutionPartHeading" style="<%= solution.explanation.blank? ? 'margin-top:0px' : '' %>">Detailed Solution</div>
               <div id="solution_content_<%= solution.id.to_s %>" style="margin-left:20px">
                 <%= solution.content_html.html_safe %>
               </div>
             <% end %>
             
             <% if !solution.attachable_assets.blank? %>
               <div>
                 <%= render :partial => "shared/attachable_assets",
                            :locals => {:attachable => solution,
                                        :show_images => true} %>
               </div>
             <% end %>
             <br/>
           </div>
          </li>
        <% end %>
      </ol>
    <% end %>
  <% end %>
</div>