<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= render :partial => 'shared/mark_it_up' %>

<%= pageHeading((@solution.has_content? ? "Editing" : "New") + " Solution") %>


<%= link_to_function "Show the question", 
                      "$('.hidden_content').toggle();", :class => "hidden_content", :style => "float:right" %>
<div class="hidden_content" style="display:none">

<% @show_credit = true %>
<%= render :partial => 'questions/show', 
           :locals => {:question => @question} %>
</div>

<%= render :partial => 'solutions/form', :locals => {:solution => @solution} %>
