<%# Copyright (c) 2011 Rice University.  All rights reserved. %>

<%= render :partial => 'shared/mark_it_up' %>

<%= pageHeading((@solution.has_content? ? "Editing" : "New") + " Solution") %>


<%= link_to_function "Show the question", 
                      "$('.hidden_content').toggle();", :class => "hidden_content", :style => "float:right" %>
<div class="hidden_content" style="display:none">
<%= render :partial => 'questions/show', 
           :locals => {:question => @question} %>
</div>

<%= render :partial => 'solutions/form', :locals => {:solution => @solution} %>
