<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Solution", "Solution for #{question_id_text(@question)}") %>

<%= render :partial => 'questions/show', 
           :locals => {:question => @question} %>

<br/>

<table>
  <%= render :partial => 'single_solution', :locals => {:solution => @solution} %>
</table>

<br/>

<%= render :partial => "shared/comments",
           :locals => {:commentable => @solution} %>

<br/>

<%= link_to 'Back to List', question_solutions_path(@solution.question) %>
