<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<html>
<head></head>
<body>

<h2>Exception Encountered</h2>

<p>User ID: <%= @user.id.to_s %><br/>
Username: <%= @user.username %></p>

<p>URL: <%= @request.url %></p>

<p>Parameters: <%= @request.params %></p>

<p>Exception: <%= @exception.inspect %></p>

<p>Backtrace:<br/>
<br/>
<%= @backtrace.join("<br/>\n").html_safe %></p>

</body>
</html>
